$offset: 52%;

.group {
  width: 60vw;
  max-width: 750px;
  
  :global {
    .spotify__carousel {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;

      &__beside-container {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 600px;
  
        &__track {
          flex: 1;
          height: 75%;
          box-shadow: 0px 0px 75px 20px rgba(0, 0, 0, 0.2);
          opacity: 0.7;
        }
      }
  
      &__currentTrack {
        position: relative;
        z-index: 10;
        width: 55%;
        max-width: 400px;
        box-shadow: 0px 0px 75px 20px rgba(0, 0, 0, 0.2);
      }
    }
    
    .spotify__carousel__bg {
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      filter: blur(15px);
      transform: scale(1.05);

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
