@import "../../assets/css/variables";

.weather {
  color: $white;
  width: 200px;
  margin-right: 100px;
  margin-top: 75px;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: 0;
  top: 0;

  :global {

  }
}
