.weather {
  color: $white;
  width: 200px;
  margin-right: 100px;
  margin-top: 75px;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: 0;
  top: 0;

  :global {
    h2 {
      font-size: 25px;
      font-family: $font;

      .title-big {
        font-size: 55px;
      }
    }

    .subtitle {

    }
  }
}
