.weather {
  color: $white;
  width: 320px;
  margin-right: 100px;
  margin-top: 75px;
  align-self: flex-end;
  justify-self: flex-end;
  position: absolute;
  right: 0;
  top: 0;

  :global {
    h2 {
      font-family: $font;
      font-size: 28px;
      letter-spacing: 3px;
      font-weight: 700;

      .title-big {
        font-size: 80px;
        margin-right: 5px;
      }

      .title-small {
        font-size: 40px;
      }
    }

    .subtitle {
      font-family: $font-secondary;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 0;
    }
  }
}
