$light: #e0e0e0;
$grey: #646464;

:global {
  .sk {
    &-light {
      background: $light;
      color: $light;
    }
  }

  .sk-text-short {
    border-radius: 2px;
    line-height: calc(100% + 4px);
    min-width: 140px;
    display: inline-block;
    transform: width 0.2s, background 0.2s, color 0.2s;
  }
}
