.clock {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 75px;
  left: 100px;
  color: $white;

  :global {
    .c-clock__day {
      font-size: 1.45rem;
      opacity: 0.7;
      font-weight: 300;
      text-align: right;
    }

    .c-clock__time {
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      font-weight: 500;
    }

    .separator {
      display: inline-block;
      color: $grey;
      margin: 0 15px;
      font-size: 1.1rem;
    }
  }
}
