@import "../assets/css/variables";

.app {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;


  &-header {}

  &-main {
    display: flex;
    width: 100%;
  }

  :global {
    .app-header {}

    .app-main {
      display: flex;
      width: 100%;
    }
    
    .txt__white {
      color: $white;
    }
  }
}
