.group{
  display: flex;
  align-items: center;
  justify-self: start;
  max-width: 47.5%;

  :global {
    p, h3 {
      margin: 0;
    }

    .content-container {
      text-align: left;
      flex-shrink: 1;
    }
  
    .img-container {
      width: 100px;
      min-width: 100px;
      margin-right: 25px;
      margin-left: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .img-container.reversed {
      margin-left:  25px;
      margin-right: 0;
    }
  }
}

.reversed {
  flex-direction: row-reverse;
  justify-self: end;
  margin-left: auto;

  :global {
    .content-container {
      text-align: right;
    }
  }
}
