.group{
  display: flex;
  align-items: center;

  :global {
    p, h3 {
      margin: 0;
    }

    .content-container {
      text-align: left;
    }

    .reversed {
      flex-direction: row-reverse;

      .content-container {
        text-align: right;
      }
    }
  
    .img-container {
      width: 100px;
      margin-right: 25px;
      margin-left: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .img-container.reversed {
      margin-left:  25px;
      margin-right: 0;
    }
  }
}

.reversed {
  flex-direction: row-reverse;

  :global {
    .content-container {
      text-align: right;
    }
  }
}
