.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 25px;
  margin-bottom: 24px;
  margin-top: 12px;
  
  :global {
    .next-weather__legend,
    .next-weather__value {
      // font-family: $font-secondary;
      font-weight: 300;
      margin: 0;
    }

    .next-weather__legend {
      position: relative;
      font-size: 26px;
      letter-spacing: 1px;
      line-height: 21px;
      margin: 0;

      span {
        right: 0;
        transform: translateX(100%);
      }
    }

    .next-weather__icon {
      width: 23px;
      height: auto;
    }

    .next-weather__value {
      color: rgba(255, 255, 255, 0.7);
      font-size: 20px;
      line-height: 21px;
    }
  }
}
